# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies


/bms_node_server/node_modules
bms_node_server/dist

/bms_react_client/node_modules
/bms_react_client/.pnp
/bms_react_client/.pnp.js
/bms_react_client/build



