.fc .fc-day-header {
  color: #333 !important;
}

.fc .fc-day-header > span {
  letter-spacing: 0.3pt;
  font-weight: 600;
  font-size: 0.95em;
}

body .fc {
  border-radius: 5px;
  border: none;
}

.fc-datagrid-cell-main {
  font-weight: 500 !important;
  font-size: 0.85em !important;
  letter-spacing: 0.1em;
  word-spacing: 0.1rem;
  color: rgba(0, 0, 0, 0.8);
}

.fc-timeline-slot-cushion.fc-scrollgrid-sync-inner {
  font-size: 0.85em !important;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 0.1em;
  word-spacing: 0.1rem;
  text-transform: capitalize !important;
}

.fc-timeline-event {
  border: none !important;
  background-color: none !important;
}
.fc-timeline-event-harness {
  border: none !important;
  background-color: none !important;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: inherit;
}

.fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-number {
  background-color: #b5eaec !important;
  border-radius: 50%;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-weight: 500;
}
.fc-daygrid-day-number {
  font-size: 0.9em;
  font-weight: 400;
}

.fc-col-header-cell-cushion {
  font-size: 1em !important;
  font-weight: 900 !important;
  font-family: Nunito !important;
  word-spacing: 0.3pt !important;
  letter-spacing: 0.3pt !important;
  padding: 1em 0 !important;
  margin: 0.3em 0;
  text-transform: capitalize !important;
}

.fc-col-header-cell.fc-resource {
  /* border: 0.1em solid rgba(0, 0, 0, 0.1) !important; */
  border-top: none !important;
  background-color: #fafafa;
}

.fc-col-header-cell .fc-timegrid-axis {
  background-color: #fafafa !important;
}
.fc-timegrid-axis {
  background-color: #fafafa !important;
  font-weight: 500 !important;
  font-size: 0.8em !important;
}

.fc-timegrid-slot-label-cushion {
  font-weight: 500 !important;
  font-size: 0.8em !important;
}

.all-day-event {
  max-height: 10px !important;
}

.fc-scrollgrid-section.fc-scrollgrid-section-body {
  max-height: 10px !important;
}

.fc-timegrid-divider {
  border: none !important;
  box-shadow: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.fc-media-screen {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06) !important;
}

.fc-daygrid.fc-dayGridMonth-view {
  border-top: none !important;
}

.fc table {
  border: none !important;
}

.fc-scrollgrid-section-header,
.fc-col-header * {
  border: none !important;
}

.fc-daygrid-more-link {
  color: #3443e5;
  font-size: 0.87em;
}

.fc-media-screen {
  overflow: hidden !important;
}

.fc-event-title {
  font-family: Nunito !important;
  font-weight: 600 !important;
  font-size: 0.88em !important;
  color: #333 !important;
}

.fc-event-time {
  font-family: Nunito !important;
  font-weight: 600 !important;
  font-size: 0.88em !important;
  color: #333 !important;
}

.fc-timegrid-event {
  all: unset !important;
}

.fc-event-main-frame {
  font-size: 1.3em !important;
}

.fc-daygrid-event:hover {
  border: none !important;
  box-shadow: none !important;
  background-color: #fff;
}

.month-day-event {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0.3em;
  align-items: center;
  align-content: center;
  padding: 0.3em;
  grid-auto-columns: auto 1fr auto;
  width: 100%;
  background-color: #e8f5fc !important;
}

.month-day-event .dot {
  height: 0.6em !important;
  width: 0.6em !important;
  border-radius: 50% !important;
  display: inline-block !important;
}

.month-day-event .title {
  font-weight: 500 !important;
  font-family: Roboto !important;
  font-size: 0.8em !important;
  text-transform: capitalize !important;
  /* color: #071fa7; */
}

.month-day-event .status {
  display: grid;
  align-content: center;
  justify-content: center;
  color: black;
  border-radius: 1em !important;
  font-size: 0.7em;
  font-weight: 900;
  font-family: Nunito !important;
  padding: 0.1em 0.5em !important;
  text-transform: uppercase !important;
}

.resource-event {
  display: grid !important;
  grid-template-areas: "time status" "title title" "notes notes" !important;
  align-content: start !important;
  align-items: center !important;
  grid-gap: 0.3em !important;
  color: black !important;
  background-color: #fafafa;
  height: 100%;
  width: 100%;
  font-size: 0.87em;
  grid-auto-columns: 1fr auto;
  padding: 0.3em;
  border-left: 0.4em solid #333;
}

.resource-event .time {
  grid-area: time;
  font-family: Nunito;
  font-weight: 900;
  font-size: 0.87em;
}

.resource-event .status {
  grid-area: status;
  padding: 0.2em 0.5em;
  border-radius: 5px;
  font-size: 0.78em;
  font-weight: 900;
  font-family: Nunito;
  border-width: 0.3em;
  border-style: solid;
  text-transform: capitalize;
}
.resource-event .title {
  grid-area: title;
  font-size: 0.9em;
  font-weight: 500;
  font-family: Roboto;
}

.resource-event .notes {
  grid-area: notes;
  font-size: 0.75em;
  font-weight: 300;
  font-family: Roboto;
  margin-left: 0.3em;
  color: #333;
  opacity: 0.95;
  font-family: Roboto;
  letter-spacing: 0.3pt;
  word-spacing: 0.3pt;
}
